/* TABLAS  */

.dx-gridbase-container > .dx-datagrid-rowsview.dx-scrollable {
    display: -webkit-box;
    display: -ms-flexbox;
    /* border-radius: 11px; */
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    display: flex;
}

.dx-texteditor.dx-editor-outlined {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 11px;
}

.dx-datagrid-borders > .dx-datagrid-filter-panel, .dx-datagrid-borders > .dx-datagrid-headers {
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-top: 1px solid #d9d9d9;
    background-color: #cca3a3;
    color: #ffffff;
}

.dx-button-mode-contained.dx-button-success {
    background-color: #5cb85c;
    border-color: transparent;
    color: #fff;
    border-radius: 13px;
}

.dx-button-mode-contained.dx-button-danger {
    background-color: #d9534f;
    border-color: transparent;
    color: #fff;
    border-radius: 13px;
}

/* VENTAS */

.container-ventas {
    padding: 1em;
}

.container-img-description {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.container-img {
    justify-content: center;
    display: flex;
    margin-right: 5%;
    border-radius: 20px;
    width: 40%;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.container-description {
    width: 60%;
}

.precio-descripcion {
    text-align: right;
    /* border: 1px solid #b9b9b9; */
    width: 40%;
    font-size: 24px;
    padding: 0px;
    margin-left: 35%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.container-precio-description{
    display: flex;
    padding-top: 1em;
    margin-bottom: 1em;
}

.container-btn-finalizar {
    display: flex;
    justify-content: end;
}


